# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# Experimental outputs
runs/
power_logs/

# Raw dataset
data/raw/

# Model checkpoints
*.pth
*.pt

# OS / IDE
.DS_Store
.vscode/
.idea/
